assignment-4/invokeservice/src/main/mule/ConsumingSOAP.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="fc4c2c3c-375b-4e4b-8a95-726e5243d066" >
		<wsc:connection wsdlLocation="http://webservices.oorsprong.org/websamples.countryinfo/CountryInfoService.wso?wsdl" service="CountryInfoService" port="CountryInfoServiceSoap" address="http://webservices.oorsprong.org/websamples.countryinfo/CountryInfoService.wso">
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<flow name="ConsumingSOAPFlow" doc:id="1c995bde-b613-4f71-8189-bc2493745d54" >
		<http:listener doc:name="Listener" doc:id="23564a95-3fa4-4001-b95a-3c13a3a46f43" config-ref="HTTP_Listener_config" path="/soap">
			<http:error-response statusCode="400">
				<http:body ><![CDATA[#[output application/json --- error.errorType]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="Flow Reference" doc:id="65d49f6b-d6d5-400a-b4c7-1d035c2427a9" name="CountryName_SOAPFlow"/>
		<ee:transform doc:name="Transform Message" doc:id="dd27f52b-a46f-4df8-b4f3-ab4d8fe2fab2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
payload.body.CountryNameResponse]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="CountryName_SOAPFlow" doc:id="75eeac47-8a6a-441a-b726-0dfd4304a067" >
		<wsc:consume doc:name="Consume" doc:id="080eece6-7863-4f13-9cf9-2fa9d59edce9" config-ref="Web_Service_Consumer_Config" operation="CountryName">
			<wsc:message >
				<wsc:body ><![CDATA[#[output application/xml
ns ns0 http://www.oorsprong.org/websamples.countryinfo

---
{
	ns0#CountryName: {
		ns0#sCountryISOCode: "IND"
	}
}]]]></wsc:body>
			</wsc:message>
		</wsc:consume>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="4c5f3934-f446-49e9-93e1-0eefd3745499" type="WSC:SOAP_FAULT">
				<logger level="ERROR" doc:name="Logger" doc:id="7c8895d9-b724-49c5-89aa-db8ace57cd9a" message="Error invoking Soap Service"/>
			</on-error-continue>
		</error-handler>
	</flow>
</mule>
