assignment-3/mysqldemo/src/main/mule/mysqldemo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="50addb2b-a890-46de-93aa-f8358f53f794" basePath="/v1/employees" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="fc7baf83-d431-409f-a6a0-e4a1ab1487ca" >
		<db:my-sql-connection host="localhost" port="3306" user="mule" password="mule" database="training" />
	</db:config>
	<flow name="mysqldemoFlow" doc:id="7a6f153b-2da0-4910-9fe5-3658db4d76ea" >
		<http:listener doc:name="Listener" doc:id="7c83cfda-db49-4c4f-b816-333c26638081" config-ref="HTTP_Listener_config" path="/"/>
		<db:select doc:name="Select" doc:id="c5985a31-d429-4b79-aa6a-a02e3032e79e" config-ref="Database_Config">
			<db:sql >select * from employee where emp_email= :email;</db:sql>
			<db:input-parameters ><![CDATA[#[%dw 2.0
output application/java
---
{
	email: attributes.queryParams.email as String
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="ba42bade-623b-4c54-b31c-8d94b1e26acb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="mysqldemoFlow1" doc:id="43c5de81-ae3a-4a22-becc-ca747bea4263" >
		<http:listener doc:name="Listener" doc:id="6aa6928a-8bf1-4736-9c93-86cc425dc01d" config-ref="HTTP_Listener_config" path="/" outputMimeType="application/json" allowedMethods="POST"/>
		<ee:transform doc:name="Transform Message" doc:id="01aa6bf3-06e8-4867-ab34-65c9af0ff325" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	id: payload.id,
	name: payload.name,
	email: payload.email,
	designation: payload.designation
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:insert doc:name="Insert" doc:id="5d20bbbc-9c09-49a0-9de4-a758cdf8c529" config-ref="Database_Config">
			<db:sql >insert into employee values (:eid,:ename,:email,:des)</db:sql>
			<db:input-parameters ><![CDATA[#[%dw 2.0
output application/json
---
{
	eid: payload.id as String,
    ename: payload.name as String,
    email: payload.email as String,
    des: payload.designation as String	
}]]]></db:input-parameters>
		</db:insert>
	</flow>
</mule>
